@import "foundation";

.calculator {
  margin: 30px auto;

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 16px 20px;
    padding: 0 10px;

    li {
      width: 100%;
      height: 0;
      padding-bottom: 100%;
      position: relative;
    }

    .btn {
      width: 100%;
      height: 100%;
      text-align: center;
      @include neumorphism(50%);
      position: absolute;
      top: 0;
      left: 0;
      font-size: 20px;

      &[data-active="true"] {
        background: #ffebeb;
      }
    }
  }

  .item {
    &-equal {
      grid-column: 1 / 4;
    }
  }

  .input {
    margin-bottom: 30px;
    &_box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 20px 15px;
      @include neumorphismInset();
      min-height: 2.96em;
      font-size: 24px;
    }
    &_unit {
      font-size: 16px;
    }
  }
}
