@import "foundation";

// calcInput
.wrap {
  margin-bottom: 30px;
}
.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0 0;
  min-height: 2.96em;
  font-size: 24px;
}
.unit {
  font-size: 16px;
}

.input {
  .box {
    @include neumorphismInset();
    padding: 20px 20px 15px;
  }
}