@import "foundation";
.wrap {
  background: $baseColor;
  padding: 0 10px;
  :global {
    .react-calendar {
      &__navigation {
        padding: 10px 0;
        font-size: 14px;
        font-weight: bold;
        &__arrow {
          padding: 0 15px;
        }
        &__label {
          text-align: center;
        }
      }
      &__decade-view {
        .react-calendar__tile {
          padding: 10px 0;
        }
      }
      &__year-view {
        .react-calendar__tile {
          padding: 10px 0;
        }
      }
      &__month-view {
        text-align: center;

        abbr[title] {
          text-decoration: none;
        }

        &__weekdays__weekday {
          padding: 10px 0;
          font-size: 12px;
        }

        .react-calendar__tile {
          // padding: 1em 0;
          border-radius: 50%;
          position: relative;
          line-height: 1;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          abbr {
            display: block;
          }
          &::before {
            content: "";
            display: block;
            padding-bottom: 100%;
          }
          &--now {
            color: #42b15b;
            // background: rgb(180, 99, 99);
            abbr {
              &:after {
                display: block;
                content: "TODAY";
                font-size: 10px;
                text-align: center;
              }
            }
          }
          &--active {
            border: 1px solid #42b15b;
            box-shadow: 0px 0px 3px #42654a;
          }
          &__not__current {
            color: #888;
          }
        }
      }
      &__tile {
        position: relative;
        line-height: 1;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        abbr {
          display: block;
        }
      }
    }
  }
}
