@import "foundation";

// categoryList
.cont {
  overflow: hidden;
  margin-bottom: 30px;
  &_inr {
    display: flex;
    > div {
      width: 100%;
      flex-shrink: 0;
      display: none;
    }
  }

  &[data-active="expense"] {
    div[data-target="expense"] {
      display: block;
    }
  }
  &[data-active="income"] {
    div[data-target="income"] {
      display: block;
    }
  }
}
.wrap {
  padding-top: 10px;
  &_sub {
    overflow: hidden;
    height: 0px;

    ul {
      padding: 15px 15px 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}
.item {
  width: 94%;
  margin: 0 auto 20px;
  &_sub {
    width: 46%;
    padding-bottom: 15px;
  }
  button {
    width: 100%;
    text-align: left;
  }
}
