.c-btn {
  display: inline-block;
  padding: 14px;
  min-width: 200px;
  text-align: center;
  border-radius: 3px;
  transition: all 0.2s ease-in;
  @include neumorphism();

  &__inr {
    display: inline-block;
  }

  &--small {
    @extend .c-btn;
    min-width: 85px;
    font-size: 14px;
    padding: 12px 10px;
  }

  &.active {
    @include neumorphismInset();
  }
  &:active {
    @include neumorphismInset();
  }

  &__wrap--center {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  &__wrap {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;

    &> *:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}