.c-btn {
  display: inline-block;
  border: 1px solid;
  padding: 12px;
  min-width: 40%;
  text-align: center;
  border-radius: 3px;

  &__inr {
    display: inline-block;
  }

  &--small {
    @extend .c-btn;
    min-width: 80px;
    font-size: 14px;
    padding: 10px;
  }

  &__wrap--center {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}