.c-btn {
  display: inline-block;
  padding: 12px;
  min-width: 40%;
  text-align: center;
  border-radius: 3px;
  @include neumorphism();

  &__inr {
    display: inline-block;
  }

  &--small {
    @extend .c-btn;
    min-width: 85px;
    font-size: 14px;
    padding: 10px;
  }

  &__wrap--center {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  &.active {
    @include neumorphismInset();
  }
}