@import "foundation";

// input_bord
.result {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 20px 0;

  &_num {
    font-size: 24px;
  }
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  &_cate {
    span {
      display: inline-block;
      &:not(:first-child) {
        &:before {
          content: ">";
          display: inline-block;
          padding: 0 0.3em;
        }
      }
    }
  }
  &_col {
    margin-bottom: 50px;
  }
}
