@import "foundation";

// input_bord
.result {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 20px 0;

  &_num {
    font-size: 24px;
  }
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.row_col {
  margin-bottom: 50px;
}